<div class="exercicio03" id="main">
  <ion-item>
    <ion-label>Exercício 02</ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Altura (m)</ion-label>
    <ion-input [(ngModel)]="altura" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Peso (kg)</ion-label>
    <ion-input [(ngModel)]="peso" type="number"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="calcularImc()">Calcular</ion-button>

  <ion-item *ngIf="resultadoImc !== undefined">
    <ion-label>Resultado do IMC:</ion-label>
    <ion-text>{{ resultadoImc | number : "1.2-2" }}</ion-text>
  </ion-item>

  <ion-item *ngIf="classificacao !== undefined">
    <ion-label>Classificação:</ion-label>
    <ion-text [color]="getClassificacaoCor()">{{ classificacao }}</ion-text>
  </ion-item>
</div>
